
<Spacer Height="10px" />
@LocalizationService.StringFromResource("Documents-42")
<Spacer Height="30px" />
<div style="display: flex; flex-direction: row">
    <div style="flex-grow: 1; width: 15%">
        <Spacer Height="8px" />
        <TelerikRadioGroup @ref="RadioGroupRef"
                           Data="@DocumentOptions"
                           @bind-Value="@ChosenDocument"
                           ValueField="@nameof(DocumentModel.DocumentId)"
                           TextField="@nameof(DocumentModel.DocumentName)">
        </TelerikRadioGroup>
    </div>
    <div style="flex-grow: 2; width: 85%">
        @switch (ChosenDocument)
        {
            case 1:
                <ProjectApplicationDocument ApplicationId="ApplicationId" 
                                            DocumentId="DocumentId" 
                                            DocumentTypeId="70" 
                                            AssessmentId="1"
                                            TemplateName="fundit-pm-assessment.docx" 
                                            FileName=@LocalizationService.StringFromResource("Documents-25")
                                            Ingress="" 
                                            OnUpdated="Refresh" 
                                            ShowSending="false" />
                break;
            case 2:
                <ProjectApplicationDocument ApplicationId="ApplicationId" 
                                            DocumentId="DocumentId" 
                                            DocumentTypeId="70"
                                            AssessmentId="2"
                                            TemplateName="fundit-pg-assessment.docx" 
                                            FileName=@LocalizationService.StringFromResource("Documents-27")
                                            Ingress="" 
                                            OnUpdated="Refresh"
                                            ShowSending="false" />
                break;
            case 3:
                <ProjectApplicationDocument ApplicationId="ApplicationId" 
                                            DocumentId="DocumentId" 
                                            DocumentTypeId="70"
                                            AssessmentId="3"
                                            TemplateName="fundit-beslut.docx" 
                                            FileName=@LocalizationService.StringFromResource("Documents-29")
                                            Ingress="" 
                                            OnUpdated="Refresh"
                                            ShowSending="false" />
                break;
        }
    </div>
</div>

@code {
    [Parameter] public int ApplicationId { get; set; } = 0;
    [Parameter] public int DocumentId { get; set; } = 0;
    [Parameter] public int TabIndex { get; set; } = 0;
    [Parameter] public int TabItem { get; set; } = 0;
    [Parameter] public EventCallback<int> OnUpdated { get; set; }
    
    private TelerikRadioGroup<DocumentModel, int> RadioGroupRef { get; set; } = null!;
    private int ChosenDocument { get; set; } = 1;

    List<DocumentModel> DocumentOptions { get; set; } =
    [
        new DocumentModel { DocumentId = 1, DocumentName = @LocalizationService.StringFromResource("Projects-84") },
        new DocumentModel { DocumentId = 2, DocumentName = @LocalizationService.StringFromResource("Projects-85") },
        new DocumentModel { DocumentId = 3, DocumentName = @LocalizationService.StringFromResource("Projects-86") }
    ];

    public class DocumentModel
    {
        public int DocumentId { get; set; }
        public string DocumentName { get; set; } = "";
    }

    protected override void OnParametersSet()
    {
        if (TabItem > 0) ChosenDocument = TabItem;
    }

    private async Task Refresh(int applicationId)
    {
        await OnUpdated.InvokeAsync(ApplicationId);
    }
}